<%= form_tag(tweet_path, method: "post") do %>
    <%= label_tag(:my_tweet, image_tag(current_user.image) )%>
    <%= text_field_tag(:my_tweet, nil, placeholder: 'tweet something', maxlength: 140, size: "60x10") %>
    <%= submit_tag("tweet") %> </br>


    <%end%>

<section id="tweets">
  <ul>
    <% tweet = @tweets.each do |tweet| %>
    @<%= tweet.user.screen_name %>
    <%= image_tag(tweet.user.profile_image_url) %>


                <% if is_redacted? tweet %>
                    <!-- Tweet contains at least one blocked phrase. -->

                    <a href="https://www.twitter.com/#{tweet.user.screen_name}" data-toggle="tooltip"
                       title="This tweet contains the phrase:<%=@key%> ">
                      <%= check_if_redacted(tweet.text)%></a>


                <% else %>
                    <!-- Tweet contains no blocked phrases. -->
                    <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li> </br>


    <% end %>

  </ul>

 </section>

<% end %>

