
<section id="tweets">
  <ul>
    <% tweet = @tweets.each do |tweet| %>
    @<%= tweet.user.screen_name %>
    <%= image_tag(tweet.user.profile_image_url) %>
      <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}=twitter&include_entities=true" %></li>
  </ul>

        <!--<li><%= link_to check_if_redacted(tweet.text), "https://www.twitter.com/#{tweet.user.screen_name}=twitter&include_entities=true" %></li>-->
        <!--</ul>   -->

        <% for blockedshows in current_user.blockedshows %>
            <%= blockedshows.phrases %>
            <% for phrases in blockedshows.phrases %>
                <%= blocked = phrases.text %>
                <%= result = blocked.select do |b| %>
                    <%= tweet.include? b %>
                <% end %>

            <% end %>

            <% if result.empty? %>
                <%= tweet %>
            <% else %>
                <%= content_tag(:div, class: 'redacted') {tweet} %>

            <% end %>

        <%end %>

  </section>

<% end %> 
