<!DOCTYPE html>
<html>
<head>
  <title>SafeTwitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id= "container">
    <div id="user_nav">
      <% if current_user %>
      Signed in as <%= current_user.name %>!
          <div class="alert alert-success">You have successfully logged in</div>
       
      <!--<%= link_to "Sign Out", signout_path %>-->
      <% else %>
          <div class="alert alert-error">You must be signed in to use this application</div>

          <!--<%= link_to "Sign in with Twitter", "/auth/twitter" %>-->

    <% end %>
    </div>
  </div>

<div class="container">
  <header class="row">
    <nav class="navbar navbar-pills">
      <div class="navbar-header">
        <%= link_to(image_tag('logo.png', class: 'logo'), root_path, class: "pull-left")%>
        <!--<%= link_to "Safe Twitter", root_path, class: 'navbar-brand' %>-->
      </div>
      <ul class="nav navbar-nav">
     <% if current_user %>
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "My Blocked Tv Shows", tv_show_index_path %></li>
        <li><%=link_to "Timeline", twitter_timeline_path%></li>
            <%else%>
            <li><%=link_to "Home", root_path %></li>
            <li><%=link_to "My Blocked Tv Shows", root_path, alert:"You're a guest. That page was for users only :)" %></li>
            <li><%=link_to "Timeline", root_path, alert:"You're a guest. That page was for users only :)"%></li>
        <%end%>

        <% if current_user %>
        <li><%=link_to "Sign Out", signout_path%></li>
            <%else %>
                 <li><%=link_to "Sign in with Twitter", "/auth/twitter" %></li>
            <%end %>

      </ul>
    </nav>
  </header>
  <%= yield %>
</div>
</body>
</html>
